{
  "extends": ["airbnb", "airbnb/hooks", "prettier", "plugin:react/recommended"],
  "plugins": ["prettier", "react"],
  "rules": {
    "consistent-return": 0,
    "func-names": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "no-bitwise": 0,
    "no-case-declarations": 0,
    "no-console": 0,
    "no-lonely-if": 0,
    "no-loop-func": 0,
    "no-nested-ternary": 0,
    "no-plusplus": 0,
    "no-prototype-builtins": 0,
    "no-restricted-syntax": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 2,
    "no-use-before-define": 2,
    "prefer-template": 0,
    "prettier/prettier": 1,
    "react/display-name": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-key": 0,
    "react/prop-types": 0,
    "react/style-prop-object": 0
  },
  "env": {
    "browser": true
  }
}
